# Les bases de données

## 1. Les SGBDR

Les **SGBDR** ou *Systèmes de Gestion de Base de Données Relationnelles* sont des **logiciels**, serveurs réseaux pour la plupart, reposant sur le **modèle relationel** d'Edgar F. Codd (informaticien britannique) établi en 1970. Un SGBDR propose trois principales fonctions :

- définir des données sous forme de relations
- manipuler des données par un langage déclaratif
- administrer des données

## 2. Le Modèle Relationnel

Le fonctionnement de certains SGBDR s'appuie ainsi sur le **modèle relationnel** établi par Edgar F. Codd en 1970, qui est une formalisation mathématique des données en **relation** similaires à celles rencontrées avec le format CSV (*Comma-separated values*).
> Le principe fondamental du modèle relationnel repose sur l'organisation des données sous forme de **relations**, aussi appelées des tables. Chaque **relation** est composée d'**attributs** (colonnes) et de **tuples** ou **n-uplet** (lignes).

### Remarque :
Comme ce modèle se fonde sur la théorie des ensembles<sup>1</sup>, **il ne peut y avoir deux tuples identiques dans une relation**, et donc deux lignes identiques dans une table. Pas plus que d'ordre entre les tuples ou lignes.

> *<sup>1</sup> Théorie des ensembles : La théorie des ensembles est une branche des mathématiques qui étudie les groupes d'objets en les considérant comme des ensembles distincts et explore les relations entre eux.*


### Pour résumer :
On a souvent distingué deux types de langage courant comme vous avez pu le remarquer : celui des informaticiens notamment enseigné scolairement (les données en table) et celui des mathématiciens (le modèle relationnel). Le modèle relationnel apporte une vision plus théorique de la **table**.

| Données en table                                        | Modèle relationnel      |
|---------------------------------------------------------|-------------------------|
| *table*                                                 | *relation*              |
| *colonne*/*champ* (titre)                               | *attribut*              |
| *ligne*/*enregistrement*                                | *tuple*/*n-uplet*       |
| *valeurs autorisées dans une colonne* (type spécialisé) | *domaine d'un attribut* |

### Exemple :
Voici un exemple de la **relation** *Ouvrage* représentant des ouvrages de bibliothèque :

| Numéro | Titre                                    | Parution | Auteur              | Naissance | Mort  |
|--------|------------------------------------------|----------|---------------------|-----------|-------|
| 142    | Le Dernier Jour d'un condamné            | 1829     | Victor Hugo         | 1802      | 1885  |
| 241    | Voyage au centre de la Terre             | 1864     | Jules Verne         | 1828      | 1905  |
| 323    | Les Petites Filles modèles               | 1858     | Comtesse de Ségur   | 1799      | 1874  |
| 358    | Les Misérables                           | 1862     | Victor Hugo         | 1802      | 1885  |
| 419    | Les Malheurs de Sophie                   | 1858     | Comtesse de Ségur   | 1799      | 1874  |
| 492    | Le Tour du monde en quatre-vingts jours  | 1872     | Jules Verne         | 1828      | 1905  |
| 677    | Mémoires d'un âne                        | 1860     | Comtesse de Ségur   | 1799      | 1874  |
| 760    | Vingt mille lieues sous les mers         | 1869     | Jules Verne         | 1828      | 1905  |
| 806    | Notre-Dame de Paris                      | 1831     | Victor Hugo         | 1802      | 1885  |
| 815    | De la Terre à la Lune                    | 1865     | Jules Verne         | 1828      | 1905  |

Cette **relation** *Ouvrage* est composée de 6 **attributs** (nom des colonnes) et chacun d'entre eux possèdent un **domaine d'attribut** spécifiant les valeurs autorisées pour les valeurs des tuples créés. Ainsi, on retrouve les 6 **attributs** et leur **domaine** respectif :

- *Numéro* est un __entier__
- *Titre* est un __texte__  (une chaîne de caractères plus ou moins longue)
- *Parution* est une __année__
- *Auteur* est une __chaîne de caractères__ (de taille limitée par exemple à 128)
- *Naissance* est une __année__
- *Mort* est une __année__

## 3. Conception d'une base de donnée

On pourra remarqué que la relation *Ouvrage* plusieurs oeuvres parfois d'un même auteur. Cette redondance d'informations occupe inutilement de la place en mémoire (RAM et disque). Nous pourrions alors arranger cela de telle sorte à créer une nouvelle relation regroupant les auteurs et l'autre, les ouvrages. Cela permettrait une meilleure organisation et manipulation des données.

Voici ce que l'on obtiens en divisant la relation :

- la relation *Auteur*

| Id_auteur | Nom               | Naissance | Mort |
|-----------|-------------------|-----------|------|
|     75    | Victor Hugo       | 1802      | 1885 |
|     81    | Jules Verne       | 1828      | 1905 |
|     63    | Comtesse de Ségur | 1799      | 1874 |

On rassemble les informations sur les auteurs en créant une table dédiée dans laquelle chaque auteur est identifié par un nombre entier id_auteur appelé clé primaire.

- la relation *Ouvrage*

| Numero | Titre                                   | Parution | Id_auteur | 
|--------|-----------------------------------------|----------|-----------|
|  142   | Le Dernier Jour d'un condamné           | 1829     | 75        |
|  241   | Voyage au centre de la Terre            | 1864     | 81        |
|  323   | Les Petites Filles modèles              | 1858     | 63        |
|  358   | Les Misérables                          | 1862     | 75        |
|  419   | Les Malheurs de Sophie                  | 1858     | 63        |
|  492   | Le Tour du monde en quatre-vingts jours | 1872     | 81        |
|  677   | Mémoires d'un âne                       | 1860     | 63        |
|  760   | Vingt mille lieues sous les mers        | 1869     | 81        |
|  806   | Notre-Dame de Paris                     | 1831     | 75        |
|  815   | De la Terre à la Lune                   | 1865     | 81        |

Dans la table des ouvrages on remplace les triplets (auteur, naissance, mort) par la clé d'identification de l'auteur définie dans la table des auteurs. La Clé id_auteur est qualifiée de clé étrangère car elle se réfère à la clé primaire id_auteur de la table des auteurs.